<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<servlet>
		<servlet-name>Generate</servlet-name>
		<servlet-class>GenerateAuskunftsbegehrenServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>DownloadAuskunftsbegehrenServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>DeleteAuskunftsbegehrenServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Generate</servlet-name>
		<url-pattern>/generate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
</web-app>
