body { 
	margin-left: 30%;
	margin-right: 30%;
	font-family: sans-serif;
	background-color: #5DC8CD;
	color: #000000;
} 

h1 {
	color: #006064;
	font-family: serif;
	display: block;
}

p { 
	color: #000000;
} 
